.container {
    margin-top: 20px;
}

.table-row {
    margin-top: 20px;
}

.select-features-list {
    /*    width: 100%;*/
}

#datepicker {
    height: 70%;
}

.chart-row {
    height: 400px;
}

.table td.rightCell {
    text-align: right;
}